<div class="col s12 tag-div">
    <div class="user-pic center-align">
        <a href="{{site.github_profile}}" target="_blank">
            <img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png">
        </a>
    </div>
    <div class="user-intro center-align">
        <h4 class="hidden">一个中年码农，稍微有点儿<span id="js-rotating">爱折腾</span>，</h4>
    </div>
    <div class="user-content">
        <p> 折腾了多多少少的技术，JavaEye，博客园，CSDN 以及一些记不清的 Blog 网站都年久失修了，以后就在这里写写日志吧。</p>
        <p> 更新：现在在某号称互联网公司的公司做架构工作。</p>
        <p> 更新：做事情从 --- 不知道从什么样子变得爱简单，写代码时超过一屏幕的代码就觉得有点儿多了。</p>
        <p> 20190927：还是换了个主题，感谢 <a href="https://github.com/ShawnTeoh">Shawn Teoh</a> 提供的 <a
                href="https://github.com/ShawnTeoh/matjek">matjek</a></p>
    </div>
</div>